In [1]:
import pandas as pd 
import re
import os

/home/rupamay/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
# create an empty list to store the dataframes
dataframes_list = []

# get the path of the folder containing the csv files
csv_folder_path = 'cleaned_data_ Folder'

# loop through the files in the folder
for file in os.listdir(csv_folder_path):
    # check if the file is a csv file
    if file.endswith(".csv"):
        # read the csv file into a dataframe
        print(os.path.join(csv_folder_path, file))
        df = pd.read_csv(os.path.join(csv_folder_path, file),delimiter=',',low_memory=False)
        df.set_index(["Date"],inplace=True)
        df.drop(['Unnamed: 0'], axis=1, inplace=True) 
        df.drop(['Datetime'], axis=1, inplace=True) 
        df.drop(['Time'], axis=1, inplace=True) 
        df.drop(['Fish_Length'], axis=1, inplace=True) 
        df.drop(['Fish_Weight'], axis=1, inplace=True)
        if (df.shape[1]==8):
            df.drop(['Population'], axis=1, inplace=True) 
        df_daily = df.groupby("Date").mean()
        df_daily.reset_index(inplace=True)
        df_daily.drop(["Date"], axis=1, inplace=True)
        # append the dataframe to the list
        dataframes_list.append(df_daily)

# print the list of dataframes
print(len(dataframes_list))

cleaned_data_ Folder/cleaned_Pond8.csv
cleaned_data_ Folder/cleaned_Pond3.csv
cleaned_data_ Folder/cleaned_Pond4.csv
cleaned_data_ Folder/cleaned_Pond10.csv
cleaned_data_ Folder/cleaned_Pond2.csv
cleaned_data_ Folder/cleaned_Pond7.csv
cleaned_data_ Folder/cleaned_Pond1.csv
cleaned_data_ Folder/cleaned_Pond9.csv
cleaned_data_ Folder/cleaned_Pond6.csv
9

Calculating total records in all the ponds

In [3]:
size=0
for a in dataframes_list:
    print(a.shape)
    size += a.shape[0]
print("Total records ", size)

(40, 7)
(66, 7)
(59, 7)
(4, 7)
(102, 7)
(61, 7)
(72, 7)
(94, 7)
(79, 7)
Total records  577

In [4]:
df1=dataframes_list[0]
print(df1.shape)
df1.head()

(40, 7)

,Temperature,Turbidity,Dissolved Oxygen,PH,Ammonia,Nitrate,Weight_diff
0,26.003507,26.740419,16.630300,8.319060,0.399968,319.832082,0.000306
1,25.380114,32.659848,12.117469,8.391118,0.490232,310.625758,0.000588
2,25.380462,32.783537,13.701492,8.423628,0.479658,305.318089,0.000788
3,24.549640,20.249467,9.743043,8.452607,0.501437,303.095416,0.000413
4,24.373544,14.446965,10.590942,8.491006,0.484715,312.370938,0.000951

In [5]:
df1=dataframes_list[1]
print(df1.shape)
df1.head()

(66, 7)

,Temperature,Turbidity,Dissolved Oxygen,PH,Ammonia,Nitrate,Weight_diff
0,24.830222,31.634531,15.153820,7.302893,5.478445,118.271897,0.000192
1,25.512454,21.279394,14.194486,7.289151,8.429881,110.806621,0.000189
2,24.866019,15.945698,7.531249,7.292192,9.810810,103.985798,0.000510
3,24.272077,41.140638,7.868545,7.303995,141.362497,97.265740,0.000499
4,23.847348,36.931904,4.839228,7.329167,30.978411,106.870203,0.000229

In [6]:
df1=dataframes_list[1]
print(df1.shape)
df1.head()

(66, 7)

,Temperature,Turbidity,Dissolved Oxygen,PH,Ammonia,Nitrate,Weight_diff
0,24.830222,31.634531,15.153820,7.302893,5.478445,118.271897,0.000192
1,25.512454,21.279394,14.194486,7.289151,8.429881,110.806621,0.000189
2,24.866019,15.945698,7.531249,7.292192,9.810810,103.985798,0.000510
3,24.272077,41.140638,7.868545,7.303995,141.362497,97.265740,0.000499
4,23.847348,36.931904,4.839228,7.329167,30.978411,106.870203,0.000229

In [7]:
#Combine DataFrames
df_result = pd.concat(dataframes_list)
df_result.reset_index(inplace=True)
df_result.shape

(577, 8)

In [8]:
df_result.drop(['index'], axis=1, inplace=True)

In [9]:
df_result.shape

(577, 7)

In [10]:
df_result.head()

,Temperature,Turbidity,Dissolved Oxygen,PH,Ammonia,Nitrate,Weight_diff
0,26.003507,26.740419,16.630300,8.319060,0.399968,319.832082,0.000306
1,25.380114,32.659848,12.117469,8.391118,0.490232,310.625758,0.000588
2,25.380462,32.783537,13.701492,8.423628,0.479658,305.318089,0.000788
3,24.549640,20.249467,9.743043,8.452607,0.501437,303.095416,0.000413
4,24.373544,14.446965,10.590942,8.491006,0.484715,312.370938,0.000951

In [11]:
df_result.to_csv('Total_Average_features1.csv')